@import  './../../../../styles.scss';

hr {
    margin: 0;
}
.title-hr{
    width: 80%;
    margin-bottom: 30px;
}

table, th, td {
    border: 1px solid $text-color;
    border-collapse: collapse;
    font-size: 20px;
}
table {
    width: 80%;
}


th {
    padding: 20px 30px 20px 30px;
}
td {
    padding: 20px 30px 20px 10px;
}

table th,
table tbody tr:nth-child(even) {
    background-color: $mid-green;
}

table tbody tr:nth-child(odd) {
    background-color: $table-dark-green
}

.btns-action{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.page-container-with-nav-new{
    background-color: $dark-green;
    border-radius: 10px;
    padding: 70px 20px 40px 100px;
    margin-top: 20px;
    min-width: 650px;
    max-width: 1750px;
    margin: 20px auto;
    min-height: 450px;
}