<app-tennis-club-navigator></app-tennis-club-navigator>
<div class="page-container-with-nav" style="padding-bottom: 200px;">
    <h1 style="font-weight: bold;">Rezerwacja</h1>
    <hr class="title-hr" />
    <table>
        <tr>
            <td class="name-day"><span><strong>Numer kortu:</strong></span></td>
            <td><span>{{reservation?.number}}</span></td>
        </tr>
        <tr>
            <td class="name-day"><span><strong>Rodzaj zadaszenia:</strong></span></td>
            <td><span>{{reservation?.roof}}</span></td>
        </tr>
        <tr>
            <td class="name-day"><span><strong>Nawierzchnia:</strong></span></td>
            <td><span>{{reservation?.surface}}</span></td>
        </tr>
        <tr>
            <td class="name-day"><span><strong>Oświetlenie:</strong></span></td>
            <td><span>{{reservation?.isLight ? "Posiada" : "Brak"}}</span></td>
        </tr>
        <tr *ngIf="isForm; else preview">
            <td class="name-day"><span><strong>Data rezerwacji:</strong></span></td>
            <td><span>{{reservation?.resDate}}</span></td>
        </tr>
        <ng-template #preview>
            <td class="name-day"><span><strong>Data rezerwacji:</strong></span></td>
            <td><span>{{getDate()}} {{finalDate}}</span></td>
        </ng-template>
        <tr *ngIf="isForm; else price">  
            <td class="name-day"><span><strong>Zakres rezerwacji:</strong></span></td>
            <td>
                <form class="resForm" [formGroup]="resForm">
                    <mat-form-field appearance="fill">
                        <mat-label>Wybierz</mat-label>
                        <mat-select disableRipple formControlName="resTime">
                          <mat-option class="opt-text" value="{{indexOfelement}}" *ngFor="let hour of reservation?.availableHours; let indexOfelement=index;">{{hour}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                  </form>
            </td>
        </tr>
        <tr *ngIf="isForm && authGuard.isWorker()">  
            <td class="name-day"><span><strong>Klient:</strong></span></td>
            <td>
                <form class="resForm" [formGroup]="resForm">
                    <mat-form-field appearance="fill">
                        <mat-label>Wybierz</mat-label>
                        <mat-select disableRipple formControlName="clientsForm" [(value)]="idUser">
                          <mat-option class="opt-text" [value]="0">--- Brak ---</mat-option>
                          <mat-option class="opt-text" [value]="client!.idClient" *ngFor="let client of clients;">{{client?.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                  </form>
            </td>
        </tr>
        <tr *ngIf="!isForm && resForm!.controls['clientsForm']!.value! > 0 && authGuard.isWorker()">
            <td class="name-day"><span><strong>Klient:</strong></span></td>
            <td><span>{{getName()}}</span></td>
        </tr>
        <ng-template #price>
            <tr>
                <td class="name-day"><span><strong>Cena:</strong></span></td>
                <td><span>{{calculatePrice()}}</span></td>
            </tr>
        </ng-template>
    </table>
    <div class="btn-con" *ngIf="isForm; else actions">
        <a routerLink="/tennisClubs/1/reservations">
            <button class="btn-form btn-return">Wstecz</button>
        </a>
        <button (click)="show()" [disabled]="!resForm.valid" 
        [className]="!resForm.valid ? 'valid-form btn-f btn-success' : 'btn-f btn-success btn-w'">Dalej</button>  
    </div>
    <ng-template #actions>
        <div class="btn-con">
            <button (click)="showForm()" class="btn-form btn-return">Wstecz</button> 
        <a routerLink="/tennisClubs/1/reservations">
            <button class="btn-form btn-cancel">Zrezygnuj</button>
        </a>
        <button (click)="makeReservation()" class="btn-form btn-success">Zarezerwuj</button>  
        </div>
    </ng-template>
<div>