@import "./../../../../styles.scss";

hr {
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
}
.title-hr{
    width: 80%;
    margin-bottom: 30px;
}
.club-container {
    display: flex;
    flex-direction: row;
    gap: 60px;
    background-color: $mid-green;
    padding: 30px;
    border-radius: 20px;
    width: 60%;
    min-width: 1000px;
}

.img-logo {
    width: 150px;
    height: 150px;
    border-radius: 5%;
    background: $light-green;
}

.club-info {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}