<div class="container">
	<div class="nav-container">
		<div class="title">
			<a routerLink="/">Tennis4U</a>
		</div>
		<div>
			<nav>
				<ul>
					<li><a routerLink="/clubs">Kluby</a></li>
					<li><a routerLink="/tournaments">Turnieje</a></li>
					<li *ngIf="authGuard.isWorker()">
						<a routerLink="/worker">Panel klubu</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="nav-container" *ngIf="!authGuard.isLoggedIn(); else isLoggedIn">
		<ul>
			<li><a routerLink="/login">Logowanie</a></li>
			<li><a routerLink="/register">Rejestracja</a></li>
		</ul>
	</div>
	<ng-template #isLoggedIn>
		<div class="user-menu" mat-button [matMenuTriggerFor]="menu">
			<img alt="" src="{{ authGuard.getUserAvatar() }}" />
			<span>{{ authGuard.getUserName() }}</span>
			<mat-menu #menu="matMenu">
				<button mat-menu-item *ngIf="authGuard.isClient()">
					<a routerLink="/user/{{ authGuard.getUserId() }}">Profil</a>
				</button>
				<button mat-menu-item *ngIf="authGuard.isClient()">
					<a routerLink="/user/{{ authGuard.getUserId() }}/matches">Mecze</a>
				</button>
				<button mat-menu-item *ngIf="authGuard.isClient()">
					<a routerLink="/user/{{ authGuard.getUserId() }}/reservations"
						>Rezerwacje</a
					>
				</button>
				<button mat-menu-item (click)="logout()">Wyloguj</button>
			</mat-menu>
		</div>
	</ng-template>
</div>
