/* You can add global styles to this file, and also import other style files */
$dark-green: #004614;
$mid-green: #177130;
$light-green: #E9FFF4;
$text-color: #ffffff;
$table-dark-green: #00381C;


body {
    padding: 0;
    background-color: $light-green;
    color: $text-color;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1 {
    color: $text-color;
    font-size: 50px;
    font-weight: bold;
}

h2 {
    color: $text-color;
    font-size: 30px;
}

hr {
    color: $text-color;
    font-weight: bold;
}

span {
    color: $text-color;
}


.btn-form {
    cursor: pointer;
    color: $text-color;
    border-radius: 20px;
    font-size: 20px;
    padding: 5px 30px 5px 30px;
    width: 150px;
}

.btn-info{
    background-color: #29C7A1;
    border-color: #29C7A1;
}

.btn-success {
    background-color: #25CA49;
    border-color: #25CA49;
}

.btn-cancel {
    background-color: #FF3030;
    border-color: #FF3030; 
}

.btn-return {
    background-color: #DB940C;
    border-color: #DB940C; 
}

a {
    color: $text-color;
    text-decoration: none;
    cursor: pointer;
}

.page-container {
    background-color: $dark-green;
    border-radius: 10px;
    padding: 70px 20px 20px 100px;
    margin-top: 20px;
    min-width: 650px;
    max-width: 1750px;
    height: 80%;
    margin: 20px auto;
}

a .btn-action {
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 50%;
}