<div class="page-container">
    <h1 style="font-weight: bold;">Turnieje</h1>
    <hr class="title-hr" />
    <table *ngIf="tournaments != undefined && tournaments.length > 0">
        <thead>
            <tr>
                <th>Data rozpoczęcia</th>
                <th>Nazwa</th>
                <th>Ranga</th>
                <th>Klub</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tournament of tournaments">
                <td>{{dateParser.parseDate(tournament.startDate)}}</td>
                <td>{{tournament.tournamentName}}</td>
                <td>{{tournament.rank}}</td>
                <td><a routerLink="/tennisClubs/{{tournament.idTennisClub}}">{{tournament.tennisClubName}}</a></td>
                <td><a routerLink="/tournaments/{{tournament.idTournament}}">
                    <img src="./../../../../assets/images/search.svg" class="btn-action btn-info">
                </a></td>  
            </tr>
        </tbody>
    </table>
    <div *ngIf="tournaments != undefined && tournaments.length == 0">
        <h2>
            Brak turniejów tenisowych
        </h2>
    </div>
</div> 